


<section class="section section center">
<div class=container-cake>
<div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img id="cake-images" class="BakedGoods" src=<%= @my_cake1.photo %>>
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <ul>
			<li><%= @my_cake1.name %></li>
			<li><%= @my_cake1.price %></li>
			<li><%= @my_cake1.description %></li>
		  </ul>
        </div>
      </div>
    </div>
	<div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img id="cake-images" class="BakedGoods" src=<%= @my_cake2.photo %>>
          <span class="card-title"></span>
        </div>
        <div class="card-content">
         <ul>
			<li><%= @my_cake2.name %></li>
			<li><%= @my_cake2.price %></li>
			<li><%= @my_cake2.description %></li>
		 </ul>
        </div>
      </div>
    </div>
 
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img id="cake-images" class="BakedGoods" src=<%= @my_cake3.photo %>>
          <span class="card-title"></span>
        </div>
        <div class="card-content">
         <ul>
			<li><%= @my_cake3.name %></li>
			<li><%= @my_cake3.price %></li>
			<li><%= @my_cake3.description %></li>
		 </ul>
        </div>
      </div>
    </div>
  </div>
 </section>